@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  -webkit-scrollbar-width: none; /* Hides scrollbar */
  scrollbar-width: none; /* Hides scrollbar */
  overflow: none; /* Allows scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #c1d6e4;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add these styles to your CSS */
.slide-in-left {
  transform: translateX(-100vw);
  transform: translateX(0);
}

.slide-out-right {
  transform: translateX(0);
  transform: translateX(100vw);
}
